<!doctype html>
<html>

<head>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .canvas {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

<body>
    <canvas id="canvas" class="canvas"></canvas>
    <script src="__PROJECT__.js"></script>
    <script>
        Module.addOnPostRun(() => {

          const example = new Module.Example();

            example.run();
    
        });
    </script>
</body>

</html>